@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
}

/* Margin Right on specifiec UIs  */
.marginRight {
  margin-right: 16.8rem;
}

/* Override swiper pagination bullet bg color  */
.swiper-pagination-bullet-active {
  background: #a967ff !important;
}
.swiper-pagination-bullet {
  width: 8px !important;
  height: 8px !important;
  border-radius: 5px !important;
}
.swiper-pagination-bullet-active {
  width: 28px !important;
  height: 8px !important;
  border-radius: 5px !important;
}

.swiper-pagination {
  position: relative !important;
  top: 2px !important;
}

/* Flatpicker override css styles  */
/* Month dropdown list  */
div.flatpickr-current-month
  .flatpickr-monthDropdown-months
  .flatpickr-monthDropdown-month,
.flatpickr-weekdays,
.flatpickr-weekdays span,
div.flatpickr-month,
div.flatpickr-current-month .flatpickr-monthDropdown-months {
  background-color: #a967ff !important;
}
div.flatpickr-current-month .flatpickr-monthDropdown-months {
  color: #fff;
}

.flatpickr-current-month input.cur-year {
  color: #fff !important;
}

div.flatpickr-days .dayContainer {
  background: #fff;
}

div.flatpickr-days .dayContainer .flatpickr-day.selected {
  background: #a967ff !important;
  color: #fff;
}

select .flatpickr-monthDropdown-month:hover {
  background: red !important;
}

/* .flatpickr-day.today {
  border-color: #24b24a62 !important;
} */

/* Material-TailwindCss TextArea Override Styles  */
div textarea.peer ::before,
::after {
  border-style: none;
}

div textarea + label {
  font-size: 0.9rem !important;
  color: rgb(153, 151, 151) !important;
  padding-left: 0.5rem !important;
}

div button span {
  padding-left: 0.5rem;
}
div button + label {
  padding-left: 0.5rem;
  font-size: 0.9rem !important;
  color: gray !important;
  font-weight: normal !important;
}
div button.peer ::after,
::before {
  border-style: none !important;
}

/* Primary color  */
.gradientBg {
  background-image: linear-gradient(#a967ff, #5500c3);
}

/* Strike User Submit Button Styles  */
.submitBtn {
  background-image: linear-gradient(#a967ff, #5500c3);
  color: white;
  border-radius: 50px;
  padding: 0.7rem 0;
}

.submitBtn:hover {
  background-image: linear-gradient(#6d2c91, #3f1b6f);
}

/* Back Button Styles  */
.backBtn {
  border: 1px gray groove;
  border-radius: 50px;
  width: 80px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}
.backBtn:hover {
  background-image: linear-gradient(#a967ff, #5500c3);
  color: #fff;
  border-color: #a967ff;
}

/* For custom scroll bar */
*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-track {
  border-radius: 8px;
}
*::-webkit-scrollbar-thumb {
  height: 56px;
  border-radius: 8px;
  border: 4px solid transparent;
  background-clip: content-box;
  background-color: #d4cece;
  /* background-color: transparent; */
}

/* Lottery shape styles  */
.middle1 {
  position: absolute;
  left: -5px;
  width: 30px;
  height: 60px;
  border-radius: 0 40px 40px 0;
  background: white;
  border-top: 4px solid #a967ff;
  border-bottom: 4px solid #a967ff;
  border-right: 4px solid #a967ff;
  border-left: 4px solid #fff;
}

.middle2 {
  position: absolute;
  right: -5px;
  width: 30px;
  height: 60px;
  border-radius: 40px 0px 0px 40px;
  background: #fff;
  border-top: 4px solid #a967ff;
  border-bottom: 4px solid #a967ff;
  border-left: 4px solid #a967ff;
  border-right: 4px solid #fff;
}

/* Private Lottery Styles  */
.private-lotter .middle1 {
  position: absolute;
  left: -5px;
  width: 30px;
  height: 60px;
  border-radius: 0 40px 40px 0;
  background: white;
  border-top: 4px solid red;
  border-bottom: 4px solid red;
  border-right: 4px solid red;
  border-left: 4px solid #fff;
}

.private-lotter .middle2 {
  position: absolute;
  right: -5px;
  width: 30px;
  height: 60px;
  border-radius: 40px 0px 0px 40px;
  background: #fff;
  border-top: 4px solid red;
  border-bottom: 4px solid red;
  border-left: 4px solid red;
  border-right: 4px solid #fff;
}

/* Withdraw history styles  */
.withdraw-history .middle1 {
  position: absolute;
  left: -1px;
  width: 30px;
  height: 60px;
  border-radius: 0 40px 40px 0;
  background: white;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  border-right: 1px solid gray;
  border-left: 1px solid white;
}

.withdraw-history .middle2 {
  position: absolute;
  right: -1px;
  width: 30px;
  height: 60px;
  border-radius: 40px 0px 0px 40px;
  background: white;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid white;
}

/* React popup css */
.popup-content {
  border-radius: 8px;
  overflow: auto;
  max-height: 90%;
}

.modal {
  font-size: 12px;
  overflow: auto;
  max-height: 100%;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}















/* styles.css or your component's CSS file */
.horizontal-slider {
  width: 100%;
  height: 20px;
}

.example-track {
  background-color: #ddd;
  height: 8px;
}
.example-track-0 {
  background-color: red;
  height: 8px;
  border-radius: 10px;
}
.example-track-1 {
  background-color: #ddd;
  height: 8px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
